{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->

<!-- <style>
    .container{
	margin-bottom: 60px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
	padding-left: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
	font-family: Monserrat;
}

.quantity{
	display: inline-block;
	font-weight: 500;
	padding-right:10px;
}

.chg-quantity{
	width: 13px;
	height: 13px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

@media (max-width:550px){
	.cart-row{
		font-size: 12px;
	}
}

@media (max-width:450px){
	.cart-row div p{
		padding-left: 0px;
	}
	.row-image{
		padding-right: 10px;
	}
}

@media (max-width:400px){
	.cart-row{
		padding-left: 0px;
	}
	div.cart-row strong{
		margin-left: 5px;
	}
	.cart-row{
		padding-left: 0px;
	}
	.strong-item{
		flex: 1;
	}
}

@media (max-width:370px){
	.strong-item{
		margin-left: 18px;
	}
	div.cart-row strong{
		font-size: 10px;
		margin-left: 0px;
	}
}

@media (max-width:350px){
	.strong-item{
		margin-left: 38px;
	}
	.cart-row div p{
		margin-left: 5px;
	}
}

@media (max-width:320px){
	.strong-item{
		margin-left: 40px;
	}
}

</style> -->

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">

            <a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continuar Comprando</a>

            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items: 3</h5></th>
                    <th><h5>Total: $42</h5></th>
                    <th>
                        <a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                    </th>
                </tr>
            </table>

        </div>

        <br>
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:2"><strong></strong></div>
                <div class="strong-item" style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Price</strong></div>
                <div style="flex:1"><strong>Quantity</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
            </div>
            
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}"></div>
                <div style="flex:2"><p>Product 1</p></div>
                <div style="flex:1"><p>$20</p></div>
                <div style="flex:1">
                    <div style="display:inline-flex" class="quantity">
                        <p class="quantity">2</p>
                        <img class="chg-quantity" src="{% static  'images/arrow-up.png' %}" width=13px height=13px>
                
                        <img class="chg-quantity" src="{% static  'images/arrow-down.png' %}" width=13px height=13px>
                    </div>
                </div>
                <div style="flex:1"><p>$32</p></div>
            </div>
        </div>
    </div>
    <!-- Posible Trash para eliminar registros -->
</div>

{% endblock content %}