{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row" id="resultado">
    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{product.imageURL}}">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>

            <!-- Agregué Botón Añadir carrito -->
            <button data-product="{{product.id}}" data-action="add" class="btn btn-success add-btn update-cart">Añadir al Carrito</button>

            <!-- <button style="border-radius: 5px" class="btn btn-success";>Añadir al carrito</button> -->
            
            <h4 style="float:right"><strong>${{product.price|floatformat:2}}</strong></h4>
            
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}


